#mainWrapper {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
    height: auto;
    padding: 10px;
}

#alarmImg {
    max-width: 50px;
    float: left;
}

#alarmTitle {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 65px;
}

#alarmSection {
    width: 98%;
    height: 98%;
    background: lightgray;
    padding: 20px;
    margin: 0 auto;
}

div {
    border: 1px solid blue !important;
}

table tr td {
    border: 1px solid red !important;
}

#alarmSection table {
    background: white;
    height: 0 auto !important;
    min-height: 80px;
    margin-bottom: 0px !important;
}

#alarmSection table tr:first-child td:last-child {
    width: 30%;
    font-size: 15px;
    text-align: right;
}

#alarmSection table tr:first-child td:first-child {
    width: 30%;
    font-size: 15px;
    text-align: left;
}


