#mainWrapper {
    margin: 0 auto;
    width: 40%;
    min-width: 400px;
    height: auto;
    padding: 10px;
}

#alarmImg {
    max-width: 50px;
    float: left;
}

#alarmTitle {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 65px;
}

#alarmSection {
    width: 98%;
    height: 98%;
    background: lightgray;
    padding: 20px;
    margin: 0 auto;
}

#alarmSection table {
    background: white;
    height: 0 auto !important;
    min-height: 80px;
    margin-bottom: 9px !important;
    color: lightgray;
}

#alarmSection table tr:first-child td:last-child {
    width: 30%;
    font-size: 15px;
    text-align: right;
}

#alarmSection table tr:first-child td:first-child {
    width: 30%;
    font-size: 15px;
    text-align: left;
    padding-top: 0px !important;
}

#deleteBtn {
	color: black;
}

#noAlarm {
	color : black;
	font-size: 30px;
	line-height: 20px;
	text-align: center;
}
