<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="alarmMapper">

	<resultMap type="Alarm" id="alarmResultSet">
		<id property="alarmNo" column="ALARM_NO" />
		<result property="alarmContent" column="ALARM_CONTENT" />
		<result property="sendTime" column="SEND_TIME" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="checkYN" column="CHECK_YN" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardAddress" column="BOARD_ADDRESS" />
	</resultMap>
	
	<!-- 알람 조회 -->
	<select id="selectAlarmList" resultMap="alarmResultSet" parameterType="Alarm">
		SELECT * FROM ALARM WHERE MEMBER_ID = #{memberId} ORDER BY SEND_TIME DESC
	</select>
	
	<!-- 알람 개수 -->
	<select id="getArListCount" resultType="_int">
		SELECT COUNT(*) FROM ALARM WHERE CHECK_YN = 'N' AND MEMBER_ID = #{memberId};
	</select>
	
	<!-- 알람 읽음 처리 -->
	<update id="readAlarm" parameterType="Alarm">
		UPDATE ALARM SET CHECK_YN = 'Y' WHERE ALARM_NO = #{alarmNo}
	</update>
	
	<!-- 알람 삭제 -->
	<delete id="deleteAlarm" parameterType="_int">
		DELETE FROM ALARM WHERE ALARM_NO = #{alarmNo}
	</delete>
	
	<!-- 알람 등록하기 -->
	<insert id="insertAlarm" parameterType="Alarm">
		INSERT INTO ALARM VALUES (ALARM_NO_SEQ.NEXTVAL, #{alarmContent}, to_CHAR(sysdate,'yyyy/mm/dd hh24:mi'), #{memberId}, DEFAULT,  #{boardTitle}, #{boardAddress} )
	</insert>
	
</mapper>