<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personalMapper">

	<resultMap type="Personal" id="personalResultSet">
		<id property="personalNo" column="PERSONAL_NO" />
		<result property="personalTitle" column="PESONAL_TITLE" />
		<result property="personalContent" column="PERSONAL_CONTENT"/>
		<result property="personalDate" column="PERSONAL_DATE" />
		<result property="personalPLang" column="PERSONAL_P_LANG" />
		<result property="personalTLang" column="PERSONAL_T_LANG" />
		<result property="personalSchedule" column="PERSONAL_SCHEDULE" />
		<result property="personalPrice" column="PERSONAL_PRICE" />
		<result property="personalCount" column="PERSONAL_COUNT" />
		<result property="personalDStatus" column="PERSONAL_D_STATUS" />
		<result property="powerYN" column="POWER_YN" />
		<result property="memberId" column="MEMBERID" />
	</resultMap>

	<!-- 1:1 게시판 목록 조회 -->
	<select id="selectList" resultMap="personalResultSet">
		SELECT * FROM PERSONAL ORDER BY PERSONAL_NO DESC
	</select>
	
	<!-- 1:1 번역가 게시글 등록 -->
	<insert id="insertPersonal" parameterType="Personal">
		INSERT INTO PERSONAL VALUES(PERSONAL_NO_SEQ.NEXTVAL, #{personalTitle}, #{personalContent}, SYSDATE, #{personalPLang}, #{personalTLang}, #{personalSchedule}, #{personalPrice}, 0, 'N', 'N', #{memberId})
	</insert>
	
	
	

</mapper>
