<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="personalMapper">

	<resultMap type="Personal" id="personalResultSet">
		<id property="personalNo" column="PERSONAL_NO" />
		<result property="personalTitle" column="PERSONAL_TITLE" />
		<result property="personalContent" column="PERSONAL_CONTENT"/>
		<result property="personalDate" column="PERSONAL_DATE" />
		<result property="personalPLang" column="PERSONAL_P_LANG" />
		<result property="personalTLang" column="PERSONAL_T_LANG" />
		<result property="personalSchedule" column="PERSONAL_SCHEDULE" />
		<result property="personalPrice" column="PERSONAL_PRICE" />
		<result property="personalCount" column="PERSONAL_COUNT" />
		<result property="personalDStatus" column="PERSONAL_D_STATUS" />
		<result property="powerYN" column="POWER_YN" />
		<result property="personalFilePath" column="PERSONAL_FILE_PATH" />
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>
	
	
	<resultMap type="PersonalReqRep" id="personalReqRepResultSet">
		<id property="pReqNo" column="P_REQ_NO"/>
		<result property="pReqContent" column="P_REQ_CONTENT"/>
		<result property="pReqPLang" column="REQ_P_LANG"/> 
		<result property="pReqTLang" column="REQ_T_LANG"/> 
		<result property="pReqDetail" column="P_REQ_DETAIL"/>
		<result property="pReqDate" column="P_REQ_DATE"/>
		<result property="pReqPredict" column="P_REQ_PREDICT"/>
		<result property="pRepTranslator" column="P_REP_TRANSLATOR"/>
		<result property="pRepResult" column="P_REP_RESULT"/>
		<result property="pReqPrice" column="P_REQ_PRICE"/>
		<result property="pReqAccept" column="P_REQ_ACCEPT"/>
		<result property="pReqCheckBuy" column="P_REQ_CHECK_BUY"/>
		<result property="personalNo" column="PERSONAL_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
	</resultMap>
	
	

	<!-- 1:1 게시판 목록 조회 -->
	<select id="selectList" resultMap="personalResultSet">
		SELECT * FROM PERSONAL ORDER BY PERSONAL_NO DESC
	</select>
	
	
	<!-- 1:1 번역가 게시글 등록 -->
	<insert id="insertPersonal" parameterType="Personal">
		INSERT INTO PERSONAL VALUES(PERSONAL_NO_SEQ.NEXTVAL, #{personalTitle}, #{personalContent}, SYSDATE, #{personalPLang}, #{personalTLang}, #{personalSchedule}, #{personalPrice}, 0, 'N', 'N', #{personalFilePath}, #{memberId})
	</insert>
	
	
	<!-- 1:1 게시판 검색 -->
	<select id="searchPersonalList" parameterType="PersonalSearch" resultMap="personalResultSet">
		SELECT * FROM PERSONAL
		<where>
			<choose>
			<when test="searchCondition == 'title'">
				PERSONAL_TITLE LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'writer'">
				AND MEMBER_ID LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'tLang'">
				AND PERSONAL_T_LANG LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'pLang'">
				AND PERSONAL_P_LANG LIKE '%' || #{searchValue } || '%'
			</when>
			<otherwise>
				AND (MEMBER_ID LIKE '%' || #{searchValue } || '%'
				OR PERSONAL_TITLE LIKE '%' || #{searchValue } || '%'
				OR PERSONAL_T_LANG LIKE '%' || #{searchValue } || '%')
				OR PERSONAL_P_LANG LIKE '%' || #{searchValue } || '%')
			</otherwise>
		</choose>
		</where>
		ORDER BY PERSONAL_NO DESC
	</select>
	
	
	<!-- 1:1 의뢰 게시판 전체 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM PERSONAL
	</select>
	
	
	<!-- 1:1 의뢰 게시판 검색 후 게시물 갯수 조회 -->
	<select id="getSearchListCount" parameterType="PersonalSearch" resultType="_int">
		SELECT COUNT(*) FROM PERSONAL
		<where>
			<choose>
			<when test="searchCondition == 'title'">
				PERSONAL_TITLE LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'writer'">
				AND MEMBER_ID LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'tLang'">
				AND PERSONAL_T_LANG LIKE '%' || #{searchValue } || '%'
			</when>
			<when test="searchCondition == 'pLang'">
				AND PERSONAL_P_LANG LIKE '%' || #{searchValue } || '%'
			</when>
			<otherwise>
				AND (MEMBER_ID LIKE '%' || #{searchValue } || '%'
				OR PERSONAL_TITLE LIKE '%' || #{searchValue } || '%'
				OR PERSONAL_T_LANG LIKE '%' || #{searchValue } || '%'
				OR PERSONAL_P_LANG LIKE '%' || #{searchValue } || '%')
			</otherwise>
		</choose>
		</where>
	</select>
	
	
	<!-- 1:1 의뢰 게시판 상세 조회시 조회수 증가 -->
	<update id="updateCount" parameterType="_int">
		UPDATE PERSONAL SET PERSONAL_COUNT = PERSONAL_COUNT + 1 WHERE PERSONAL_NO = #{personalNo}
	</update>
	
	
	<!-- 1:1 의뢰 게시글 상세조회 -->
	<select id="selectPersonalOne" parameterType="_int" resultMap="personalResultSet">
		SELECT * FROM PERSONAL
		WHERE PERSONAL_NO = #{personalNo}
		
		<!-- SELECT * FROM PERSONAL WHERE PERSONAL_NO = #{personalNo} -->
	</select>
	
	
	<!-- 1:1 번역가 게시글 수정 -->
	<update id="updatePersonal" parameterType="Personal">
		UPDATE PERSONAL 
		SET PERSONAL_TITLE=#{personalTitle}, 
		PERSONAL_CONTENT=#{personalContent}, 
		PERSONAL_SCHEDULE=#{personalSchedule}, 
		PERSONAL_P_LANG=#{personalPLang}, 
		PERSONAL_T_LANG=#{personalTLang}, 
		PERSONAL_PRICE=#{personalPrice},
		PERSONAL_FILE_PATH=#{personalFilePath}
		WHERE PERSONAL_NO=#{personalNo}
	</update>
	
	
	<!-- 1:1 번역가 게시글 삭제 -->
	<delete id="deletePersonal" parameterType="_int" >
		DELETE FROM PERSONAL WHERE PERSONAL_NO=#{personalNo}
	</delete>
	
	
	<!-- 1:1 의뢰 신청 -->
	<insert id="insertRequest" parameterType="PersonalReqRep">
		INSERT INTO PERSONAL_REQ_REP VALUES(P_REQ_NO_SEQ.NEXTVAL, #{pReqContent}, #{pReqPLang}, #{pReqTLang}, #{pReqDetail}, SYSDATE, SYSDATE,
		#{pRepTranslator}, '', #{pReqPrice}, 'N', 'N', #{personalNo}, #{memberId})
	</insert>
	
	
	<!-- 1:1 의뢰 최신글 번호 조회 -->
	<select id="selectPersonalLastNo" parameterType="string" resultType="_int">
		SELECT P_REQ_NO FROM (SELECT * FROM PERSONAL_REQ_REP ORDER BY P_REQ_NO DESC) 
		WHERE ROWNUM = 1
	</select>
	
	
</mapper>
