<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap type="Review" id="ReviewResultSet">
		<id property="reviewNo" column="REV_NO" />
		<result property="revTargetMemberId" column="REV_TARGET_MEMBER_ID" />
		<result property="revContent" column="REV_CONTENT" />
		<result property="starRage" column="STAR_RAGE" />
		<result property="revWriteDate" column="REV_WRITE_DATE" />
		<result property="personalNo" column="PERSONAL_NO" />
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>


	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW 
		VALUES(REV_NO_SEQ.NEXTVAL, #{revTargetMemberId}, 
		#{revContent}, #{starRage}, SYSDATE, #{personalNo}, #{memberId})
	</insert>

	<select id="selectReviewList" resultMap="ReviewResultSet" parameterType="_int">
		SELECT * FROM REVIEW R
		JOIN PERSONAL P ON (R.PERSONAL_NO = P.PERSONAL_NO)
		WHERE R.PERSONAL_NO = #{personalNo}
		ORDER BY REV_NO DESC		
	</select>

<!-- JOIN PERSONAL P ON (R.MEMBER_ID = P.MEMBER_ID)
WHERE R.MEMBER_ID = #{memberId} -->

	<!-- 현꾸 작성 0725 ~ -->
	
	<!-- 해당 글의 평균 별점 수를 구한다 -->
	<!-- <select id="selectStarRageAvg" parameterType="_int" resultType="_double">
		SELECT ROUND(AVG(STAR_RAGE),1) FROM REVIEW
		WHERE PERSONAL_NO = #{personalNo}
	</select> -->
	
	<!-- 해당 유저의 평균 별점 값을 구한다 -->
	<select id="selectMemberStarRageAvg" parameterType="string" resultType="_double">
		SELECT ROUND(AVG(STAR_RAGE),1) FROM REVIEW
		WHERE  REV_TARGET_MEMBER_ID = #{memberId}
	</select>
	
</mapper>
