<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="studyMapper">

	<resultMap type="Study" id="studyResultSet">
		<id property="studyNo" column="STUDY_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="studyCategory" column="STUDY_CATEGORY"/>
		<result property="studyTitle" column="STUDY_TITLE"/>
		<result property="studyContent" column="STUDY_CONTENT"/>
		<result property="studyWriteDate" column="STUDY_WRITE_DATE"/>
		<result property="studyCount" column="STUDY_COUNT"/>
	</resultMap>
	
	<!-- 게시글 전체 불러오는 쿼리 -->
	<select id="selectStudyList" resultMap="studyResultSet">
	SELECT * FROM STUDY ORDER BY STUDY_NO DESC
	</select>
	
	<!-- 게시글 갯수 확인하는 쿼리 -->
	<select id="getStudyListCount" resultType="_int">
	SELECT COUNT(*) FROM STUDY
	</select>
	
	
		<!-- 검색한 게시글 갯수 확인하는 쿼리 -->
	<select id="getStudySearchListCount" parameterType="StudySearch" resultType="_int">
	SELECT COUNT(*) FROM STUDY
	<where>
		<choose>
			<when test="studySearchCondition =='title'">
			STUDY_TITLE LIKE '%' || #{studySearchValue} || '%'
			</when>
			<when test="studySearchCondition =='writer'">
			AND MEMBER_ID LIKE '%' || #{studySearchValue} || '%'
			</when>
			<when test="studySearchCondition=='content'">
			AND STUDY_CONTENT LIKE '%' || #{studySearchValue} || '%'  			
			</when>
			<otherwise>
			 AND (MEMBER_ID LIKE '%' || #{studySearchValue } || '%'
				OR STUDY_TITLE LIKE '%' || #{studySearchValue } ||  '%'
				OR STUDY_CONTENT LIKE '%' || #{studySearchValue } || '%')
			</otherwise>
		</choose>
	</where>
	</select>	
	
	
	
	<update id="updateStudyCount" parameterType="_int">
	UPDATE STUDY SET STUDY_COUNT=STUDY_COUNT+1 WHERE STUDY_NO=#{studyNo}	
	</update>
	
	
	<!-- 게시글 하나 가져오는 쿼리 -->
	<select id="selectStudyOne" resultMap="studyResultSet">
	SELECT * FROM STUDY WHERE STUDY_NO=#{studyNo}
	</select>
	
	<!-- 게시글 검색 쿼리 -->
	<select id="searchStudyList" parameterType="StudySearch" resultMap="studyResultSet">
	SELECT * FROM STUDY
	<where>
		<choose>
			<when test="studySearchCondition =='title'">
			STUDY_TITLE LIKE '%' || #{studySearchValue} || '%'
			</when>
			<when test="studySearchCondition =='writer'">
			AND MEMBER_ID LIKE '%' || #{studySearchValue} || '%'
			</when>
			<when test="studySearchCondition=='content'">
			AND STUDY_CONTENT LIKE '%' || #{studySearchValue} || '%'  			
			</when>
			<otherwise>
			 AND (MEMBER_ID LIKE '%' || #{studySearchValue } || '%'
				OR STUDY_TITLE LIKE '%' || #{studySearchValue } ||  '%'
				OR STUDY_CONTENT LIKE '%' || #{studySearchValue } || '%')
			</otherwise>
		</choose>
	</where>	
	ORDER BY STUDY_NO DESC	
	</select>
	
	<!-- 게시글 등록 쿼리-->
	<insert id="insertStudy" parameterType="Study">
	INSERT INTO STUDY VALUES(STUDY_NO_SEQ.NEXTVAL,#{studyCategory},#{studyTitle},#{studyContent},SYSDATE,DEFAULT,#{studyFilePath},#{memberId})
	</insert>
	
	<!-- 게시글 수정 쿼리 -->
	<update id="updateStudy" parameterType="Study">
	UPDATE STUDY SET STUDY_TITLE=#{studyTitle},STUDY_CONTENT=#{studyContent}, STUDY_WRITE_DATE=SYSDATE,STUDY_FILE_PATH=#{studyFilePath} WHERE STUDY_NO=#{studyNo}
	</update>

	<!-- 게시글 삭제 쿼리 -->
	<delete id="deleteStudy" parameterType="_int">
		DELETE FROM STUDY WHERE STUDY_NO=#{studyNo}
	</delete>
	
</mapper>
